node_modules/*
yarn*
.yarn*
.env
google-credentials.json
/Users/jtsan/repos/thesis_database/gckey.json
upload/
google-credentials.json
*.json
/Users/jtsan/repos/thesis_database/google-credentials.json